{% extends 'base.html' %}
{% block content %}
    <style>
        body{
        }
        #form-container{
            width: 30%;
            height: 100%;
            border: 2px;
        }
    </style>
<body>
    <h1>Book a Table</h1>
    <p>
      Who wants food on the table to eat so they are no longer hungry and can continue to sustain their life.
    </p>
    <div id="form-container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Book Table</button>
    </form>
{endblock}
